{% block content %}

<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container px-5">
    <a class="navbar-brand" href="">
      {% if user.is_authenticated %}
      Welcome, {{user}} &nbsp;
        {% if user.is_superuser %}
        <span class="badge bg-success">Admin</span>
        {% else %}
        <span class="badge bg-success">User</span>
        {% endif %}
      {% else %}
      Sales Purchase Order System
      {% endif %}
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home &nbsp; <i class="fa fa-home" aria-hidden="true"></i></a>
        </li>

        {% if user.is_authenticated %}
        <li class="nav-item"> 
          <a class="nav-link" href="{% url 'dashboard' %}">Dashboard &nbsp; </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Logout &nbsp; <i class="fa fa-sign-out"></i></a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">Login &nbsp; <i class="fa fa-sign-in"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'register' %}">Register</a>
        </li>
        {% endif %}
        <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
        <li class="nav-item"><a class="nav-link" href="#!">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>

{% endblock %}
