{% include 'nav_base/nav.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Business Frontpage - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    <title>Purchase Orders</title>
</head>
<body>
    {% block content %}
    {% endblock %}
    <h1>Purchase Orders</h1>
    <a href="{% url 'purchase_order_create' %}">Create New Purchase Order</a>
    <ul>
        {% for order in purchase_orders %}
            <li>
                <a href="{% url 'purchase_order_detail' order.pk %}">{{ order.supplier }} - {{ order.total_amount }}</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>