{% extends 'nav_base/home.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container bg-light shadow-md p-5">
  <h3>Create your account</h3>
  <br />

  <form method="POST" autocomplete="off" class="form-layout">
    {% csrf_token %} 
    {{ form.username|as_crispy_field }}
    <br />
    {{ form.password1|as_crispy_field }}
    <br />
    {{ form.password2|as_crispy_field }}
    <br />
    <button type="submit" class="btn btn-primary w-100 btn-block p-2">
      Register
    </button>
  </form>
  <br />
  <p>Already have an account?
    <a href="{% url 'login' %}">Login</a>
  </p>
</div>
<br />

{% endblock %}